.main-img-wrp{
  background: url(../../public/expenses-1.jpg);
  background-size: cover;
  height: 100vh;
}

body, *{
  font-family: 'Poppins', sans-serif;
  color: #444;
}


.auth-wrp{
  text-align: center;
  padding: 5rem 1rem;
}